<%@ page contentType="text/html;charset=UTF-8" %>
<li>
    <a class="menu_one"  target="_blank" href="http://10.1.186.117:8080/trainlines.jsp"><i class="fa fa-chain"></i>1列车1条线</a>        
</li> 
<li>
    <a class="menu_one"  href="${ctx}/jbtcx?type=jbt" target="contentFrame" onclick="getBase()"><i class="fa fa-list"></i>技术资料</a>   
</li>  
<!--   
<li>
    <a class="menu_one"  href="${ctx}/msg" target="contentFrame" onclick="getMsg()">
    	<i class="fa fa-envelope-o"></i>我的消息 <span class="badge" id="msgCount">${msgCount }</span>
    </a>   
</li>
-->   
<li>
    <!-- <a class="menu_one"  href="http://10.1.191.98/dsp71025/htmlFrame3/index.jsp?menu=menu_kd_kyjhpt" target="contentFrame" onclick="getSReport()"><i class="fa fa-bar-chart-o"></i>统计分析</a> -->
    <a class="menu_one"  href="http://10.1.191.98/dsp71025/htmlFrame3/index_4_trainplan.jsp?menu=menu_kd_kyjhpt" target="contentFrame" onclick="getSReport()"><i class="fa fa-bar-chart-o"></i>统计分析</a>
</li>        