<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.railway.passenger.transdispatch.operationplan.repository.PlanTrainNewMapper">
  <resultMap id="BaseResultMap" type="com.railway.passenger.transdispatch.operationplan.entity.PlanTrainNew">
    <id column="PLAN_TRAIN_ID" jdbcType="VARCHAR" property="planTrainId" />
    <result column="PLAN_CROSS_ID" jdbcType="VARCHAR" property="planCrossId" />
    <result column="GROUP_SERIAL_NBR" jdbcType="DECIMAL" property="groupSerialNbr" />
    <result column="TRAIN_SORT" jdbcType="DECIMAL" property="trainSort" />
    <result column="RUN_DATE" jdbcType="VARCHAR" property="runDate" />
    <result column="TRAIN_NBR" jdbcType="VARCHAR" property="trainNbr" />
    <result column="START_BUREAU_ID" jdbcType="VARCHAR" property="startBureauId" />
    <result column="START_BUREAU" jdbcType="VARCHAR" property="startBureau" />
    <result column="START_BUREAU_FULL" jdbcType="VARCHAR" property="startBureauFull" />
    <result column="START_STATION_STN_ID" jdbcType="VARCHAR" property="startStationStnId" />
    <result column="START_STATION_STN_NAME" jdbcType="VARCHAR" property="startStationStnName" />
    <result column="START_STN_ID" jdbcType="VARCHAR" property="startStnId" />
    <result column="START_STN" jdbcType="VARCHAR" property="startStn" />
    <result column="START_STN_TDCS_ID" jdbcType="VARCHAR" property="startStnTdcsId" />
    <result column="START_STN_TDCS_NAME" jdbcType="VARCHAR" property="startStnTdcsName" />
    <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime" />
    <result column="END_BUREAU_ID" jdbcType="VARCHAR" property="endBureauId" />
    <result column="END_BUREAU" jdbcType="VARCHAR" property="endBureau" />
    <result column="END_BUREAU_FULL" jdbcType="VARCHAR" property="endBureauFull" />
    <result column="END_STATION_STN_ID" jdbcType="VARCHAR" property="endStationStnId" />
    <result column="END_STATION_STN_NAME" jdbcType="VARCHAR" property="endStationStnName" />
    <result column="END_STN_ID" jdbcType="VARCHAR" property="endStnId" />
    <result column="END_STN" jdbcType="VARCHAR" property="endStn" />
    <result column="END_STN_TDCS_ID" jdbcType="VARCHAR" property="endStnTdcsId" />
    <result column="END_STN_TDCS_NAME" jdbcType="VARCHAR" property="endStnTdcsName" />
    <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
    <result column="END_DAYS" jdbcType="VARCHAR" property="endDays" />
    <result column="PASS_BUREAU" jdbcType="VARCHAR" property="passBureau" />
    <result column="ROUTE_ID" jdbcType="VARCHAR" property="routeId" />
    <result column="TRAIN_TYPE_ID" jdbcType="VARCHAR" property="trainTypeId" />
    <result column="BUSINESS" jdbcType="VARCHAR" property="business" />
    <result column="HIGHLINE_FLAG" jdbcType="DECIMAL" property="highlineFlag" />
    <result column="IMPORTANT_FLAG" jdbcType="VARCHAR" property="importantFlag" />
    <result column="TRAIN_SCOPE" jdbcType="DECIMAL" property="trainScope" />
    <result column="TOKEN_VEH_BUREAU" jdbcType="VARCHAR" property="tokenVehBureau" />
    <result column="TOKEN_PSG_BUREAU" jdbcType="VARCHAR" property="tokenPsgBureau" />
    <result column="MARSHALLING_ID" jdbcType="VARCHAR" property="marshallingId" />
    <result column="MARSHALLING_NAME" jdbcType="VARCHAR" property="marshallingName" />
    <result column="TRAIN_CAPACITY" jdbcType="DECIMAL" property="trainCapacity" />
    <result column="PLAN_TRAIN_SIGN" jdbcType="VARCHAR" property="planTrainSign" />
    <result column="PRE_TRAIN_ID" jdbcType="VARCHAR" property="preTrainId" />
    <result column="NEXT_TRAIN_ID" jdbcType="VARCHAR" property="nextTrainId" />
    <result column="BASE_CHART_ID" jdbcType="VARCHAR" property="baseChartId" />
    <result column="BASE_TRAIN_ID" jdbcType="VARCHAR" property="baseTrainId" />
    <result column="HIGHLINE_RULE" jdbcType="DECIMAL" property="highlineRule" />
    <result column="COMMONLINE_RULE" jdbcType="DECIMAL" property="commonlineRule" />
    <result column="APPOINT_WEEK" jdbcType="VARCHAR" property="appointWeek" />
    <result column="APPOINT_DAY" jdbcType="VARCHAR" property="appointDay" />
    <result column="APPOINT_PERIOD" jdbcType="VARCHAR" property="appointPeriod" />
    <result column="DAY_GAP" jdbcType="DECIMAL" property="dayGap" />
    <result column="SPARE_FLAG" jdbcType="DECIMAL" property="spareFlag" />
    <result column="SPARE_APPLY_FLAG" jdbcType="DECIMAL" property="spareApplyFlag" />
    <result column="CMD_BUREAU" jdbcType="VARCHAR" property="cmdBureau" />
    <result column="CMD_TXTMLID" jdbcType="DECIMAL" property="cmdTxtmlid" />
    <result column="CMD_TXTMLITEMID" jdbcType="DECIMAL" property="cmdTxtmlitemid" />
    <result column="CMD_TRAIN_ID" jdbcType="VARCHAR" property="cmdTrainId" />
    <result column="CMD_SHORTINFO" jdbcType="VARCHAR" property="cmdShortinfo" />
    <result column="TEL_BUREAU" jdbcType="VARCHAR" property="telBureau" />
    <result column="TEL_ID" jdbcType="VARCHAR" property="telId" />
    <result column="TEL_NAME" jdbcType="VARCHAR" property="telName" />
    <result column="TEL_SHORTINFO" jdbcType="VARCHAR" property="telShortinfo" />
    <result column="NOTE" jdbcType="VARCHAR" property="note" />
    <result column="CREAT_TYPE" jdbcType="DECIMAL" property="creatType" />
    <result column="CREAT_PEOPLE" jdbcType="VARCHAR" property="creatPeople" />
    <result column="CREAT_PEOPLE_ORG" jdbcType="VARCHAR" property="creatPeopleOrg" />
    <result column="CREAT_TIME" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="CHECK_LEV1_TYPE" jdbcType="DECIMAL" property="checkLev1Type" />
    <result column="CHECK_LEV2_TYPE" jdbcType="DECIMAL" property="checkLev2Type" />
    <result column="CHECK_LEV1_BUREAU" jdbcType="VARCHAR" property="checkLev1Bureau" />
    <result column="CHECK_LEV2_BUREAU" jdbcType="VARCHAR" property="checkLev2Bureau" />
    <result column="DAILYPLAN_FLAG" jdbcType="VARCHAR" property="dailyplanFlag" />
    <result column="DAILYPLAN_TIMES" jdbcType="DECIMAL" property="dailyplanTimes" />
    <result column="DAILYPLAN_TIME" jdbcType="TIMESTAMP" property="dailyplanTime" />
    <result column="DAILYPLAN_ID" jdbcType="VARCHAR" property="dailyplanId" />
    <result column="DAILYPLAN_ID_LAST" jdbcType="VARCHAR" property="dailyplanIdLast" />
    <result column="DAILYPLAN_CHECK_BUREAU" jdbcType="VARCHAR" property="dailyplanCheckBureau" />
    <result column="SENT_BUREAU" jdbcType="VARCHAR" property="sentBureau" />
    <result column="SENT_BUREAU_HIS" jdbcType="VARCHAR" property="sentBureauHis" />
    <result column="VAILD_STATUS" jdbcType="DECIMAL" property="vaildStatus" />
    <result column="CM_TRAIN_ID" jdbcType="VARCHAR" property="cmTrainId" />
    <result column="ORG_CM_TRAIN_ID" jdbcType="VARCHAR" property="orgCmTrainId" />
  </resultMap>
  <sql id="Base_Column_List">
    PLAN_TRAIN_ID, PLAN_CROSS_ID, GROUP_SERIAL_NBR, TRAIN_SORT, RUN_DATE, TRAIN_NBR, 
    START_BUREAU_ID, START_BUREAU, START_BUREAU_FULL, START_STATION_STN_ID, START_STATION_STN_NAME, 
    START_STN_ID, START_STN, START_STN_TDCS_ID, START_STN_TDCS_NAME, START_TIME, END_BUREAU_ID, 
    END_BUREAU, END_BUREAU_FULL, END_STATION_STN_ID, END_STATION_STN_NAME, END_STN_ID, 
    END_STN, END_STN_TDCS_ID, END_STN_TDCS_NAME, END_TIME, END_DAYS, PASS_BUREAU, ROUTE_ID, 
    TRAIN_TYPE_ID, BUSINESS, HIGHLINE_FLAG, IMPORTANT_FLAG, TRAIN_SCOPE, TOKEN_VEH_BUREAU, 
    TOKEN_PSG_BUREAU, MARSHALLING_ID, MARSHALLING_NAME, TRAIN_CAPACITY, PLAN_TRAIN_SIGN, 
    PRE_TRAIN_ID, NEXT_TRAIN_ID, BASE_CHART_ID, BASE_TRAIN_ID, HIGHLINE_RULE, COMMONLINE_RULE, 
    APPOINT_WEEK, APPOINT_DAY, APPOINT_PERIOD, DAY_GAP, SPARE_FLAG, SPARE_APPLY_FLAG, 
    CMD_BUREAU, CMD_TXTMLID, CMD_TXTMLITEMID, CMD_TRAIN_ID, CMD_SHORTINFO, TEL_BUREAU, 
    TEL_ID, TEL_NAME, TEL_SHORTINFO, NOTE, CREAT_TYPE, CREAT_PEOPLE, CREAT_PEOPLE_ORG, 
    CREAT_TIME, CHECK_LEV1_TYPE, CHECK_LEV2_TYPE, CHECK_LEV1_BUREAU, CHECK_LEV2_BUREAU, 
    DAILYPLAN_FLAG, DAILYPLAN_TIMES, DAILYPLAN_TIME, DAILYPLAN_ID, DAILYPLAN_ID_LAST, 
    DAILYPLAN_CHECK_BUREAU, SENT_BUREAU, SENT_BUREAU_HIS, VAILD_STATUS, CM_TRAIN_ID, ORG_CM_TRAIN_ID
  </sql>
  <select id="countByParams" parameterType="map" resultType="map">
  	SELECT START_BUREAU,count(*) as num
  	FROM PLAN_TRAIN 
  	WHERE 1=1 
  	<if test="runDate != null">
        AND RUN_DATE=#{runDate}
    </if>
  	<if test="highlineFlag != null">
        AND HIGHLINE_FLAG=#{highlineFlag}
    </if>
    <if test="baseChartId != null and baseChartId != ''">
        AND BASE_CHART_ID=#{baseChartId}
    </if>
  	GROUP BY START_BUREAU
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PLAN_TRAIN
    where PLAN_TRAIN_ID = #{planTrainId}
  </select>
  <select id="selectLatestRunDatePlanTrain" parameterType="map" resultMap="BaseResultMap">
	  SELECT <include refid="Base_Column_List" /> FROM PLAN_TRAIN WHERE PLAN_TRAIN_ID=
		(
			SELECT PLAN_TRAIN_ID FROM(
				SELECT A.PLAN_TRAIN_ID,ROWNUM num FROM (SELECT * FROM PLAN_TRAIN WHERE PLAN_CROSS_ID=#{planCrossId} AND ORG_CM_TRAIN_ID=#{orgCmTrainId} ORDER BY RUN_DATE DESC) A
			) WHERE num=1
		)
  </select>
  <select id="selectByPlanCrossId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PLAN_TRAIN
    where PLAN_CROSS_ID = #{planTrainId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PLAN_TRAIN
    where PLAN_TRAIN_ID = #{planCrossId}
  </delete>
  <delete id="deleteByPlanCrossId" parameterType="java.lang.String">
    delete from PLAN_TRAIN
    where PLAN_CROSS_ID = #{planCrossId}
  </delete>
  <delete id="deleteByParams" parameterType="map">
    delete from PLAN_TRAIN
    where PLAN_CROSS_ID = #{planCrossId} and ORG_CM_TRAIN_ID=#{orgCmTrainId} and RUN_DATE>#{runDate}
  </delete>
  <insert id="insert" parameterType="com.railway.passenger.transdispatch.operationplan.entity.PlanTrainNew">
    insert into PLAN_TRAIN (PLAN_TRAIN_ID, PLAN_CROSS_ID, GROUP_SERIAL_NBR, TRAIN_SORT, RUN_DATE, 
      TRAIN_NBR, START_BUREAU_ID, START_BUREAU, START_BUREAU_FULL, START_STATION_STN_ID, 
      START_STATION_STN_NAME, START_STN_ID, START_STN, START_STN_TDCS_ID, START_STN_TDCS_NAME, 
      START_TIME, END_BUREAU_ID, END_BUREAU, END_BUREAU_FULL, END_STATION_STN_ID, 
      END_STATION_STN_NAME, END_STN_ID, END_STN, END_STN_TDCS_ID, END_STN_TDCS_NAME, 
      END_TIME, END_DAYS, PASS_BUREAU, ROUTE_ID, TRAIN_TYPE_ID, BUSINESS, 
      HIGHLINE_FLAG, IMPORTANT_FLAG, TRAIN_SCOPE, TOKEN_VEH_BUREAU, TOKEN_PSG_BUREAU, 
      MARSHALLING_ID, MARSHALLING_NAME, TRAIN_CAPACITY, PLAN_TRAIN_SIGN, PRE_TRAIN_ID, 
      NEXT_TRAIN_ID, BASE_CHART_ID, BASE_TRAIN_ID, HIGHLINE_RULE, COMMONLINE_RULE, 
      APPOINT_WEEK, APPOINT_DAY, APPOINT_PERIOD, DAY_GAP, SPARE_FLAG, SPARE_APPLY_FLAG, 
      CMD_BUREAU, CMD_TXTMLID, CMD_TXTMLITEMID, CMD_TRAIN_ID, CMD_SHORTINFO, 
      TEL_BUREAU, TEL_ID, TEL_NAME, TEL_SHORTINFO, NOTE, CREAT_TYPE, CREAT_PEOPLE, 
      CREAT_PEOPLE_ORG, CREAT_TIME, CHECK_LEV1_TYPE, CHECK_LEV2_TYPE, CHECK_LEV1_BUREAU, 
      CHECK_LEV2_BUREAU, DAILYPLAN_FLAG, DAILYPLAN_TIMES, DAILYPLAN_TIME, DAILYPLAN_ID, 
      DAILYPLAN_ID_LAST, DAILYPLAN_CHECK_BUREAU, SENT_BUREAU, SENT_BUREAU_HIS, VAILD_STATUS, 
      CM_TRAIN_ID,ORG_CM_TRAIN_ID)
    values (#{planTrainId}, #{planCrossId}, #{groupSerialNbr}, #{trainSort}, #{runDate}, 
      #{trainNbr}, #{startBureauId}, #{startBureau}, #{startBureauFull}, #{startStationStnId}, 
      #{startStationStnName}, #{startStnId}, #{startStn}, #{startStnTdcsId}, #{startStnTdcsName}, 
      #{startTime}, #{endBureauId}, #{endBureau}, #{endBureauFull}, #{endStationStnId}, 
      #{endStationStnName}, #{endStnId}, #{endStn}, #{endStnTdcsId}, #{endStnTdcsName}, 
      #{endTime}, #{endDays}, #{passBureau}, #{routeId}, #{trainTypeId}, #{business}, 
      #{highlineFlag}, #{importantFlag}, #{trainScope}, #{tokenVehBureau}, #{tokenPsgBureau}, 
      #{marshallingId}, #{marshallingName}, #{trainCapacity}, #{planTrainSign}, #{preTrainId}, 
      #{nextTrainId}, #{baseChartId}, #{baseTrainId}, #{highlineRule}, #{commonlineRule}, 
      #{appointWeek}, #{appointDay}, #{appointPeriod}, #{dayGap}, #{spareFlag}, #{spareApplyFlag}, 
      #{cmdBureau}, #{cmdTxtmlid}, #{cmdTxtmlitemid}, #{cmdTrainId}, #{cmdShortinfo}, 
      #{telBureau}, #{telId}, #{telName}, #{telShortinfo}, #{note}, #{creatType}, #{creatPeople}, 
      #{creatPeopleOrg}, #{creatTime}, #{checkLev1Type}, #{checkLev2Type}, #{checkLev1Bureau}, 
      #{checkLev2Bureau}, #{dailyplanFlag}, #{dailyplanTimes}, #{dailyplanTime}, #{dailyplanId}, 
      #{dailyplanIdLast}, #{dailyplanCheckBureau}, #{sentBureau}, #{sentBureauHis}, #{vaildStatus}, 
      #{cmTrainId},#{orgCmTrainId})
  </insert>
  <insert id="insertSelective" parameterType="com.railway.passenger.transdispatch.operationplan.entity.PlanTrainNew">
    insert into PLAN_TRAIN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="planTrainId != null">
        PLAN_TRAIN_ID,
      </if>
      <if test="planCrossId != null">
        PLAN_CROSS_ID,
      </if>
      <if test="groupSerialNbr != null">
        GROUP_SERIAL_NBR,
      </if>
      <if test="trainSort != null">
        TRAIN_SORT,
      </if>
      <if test="runDate != null">
        RUN_DATE,
      </if>
      <if test="trainNbr != null">
        TRAIN_NBR,
      </if>
      <if test="startBureauId != null">
        START_BUREAU_ID,
      </if>
      <if test="startBureau != null">
        START_BUREAU,
      </if>
      <if test="startBureauFull != null">
        START_BUREAU_FULL,
      </if>
      <if test="startStationStnId != null">
        START_STATION_STN_ID,
      </if>
      <if test="startStationStnName != null">
        START_STATION_STN_NAME,
      </if>
      <if test="startStnId != null">
        START_STN_ID,
      </if>
      <if test="startStn != null">
        START_STN,
      </if>
      <if test="startStnTdcsId != null">
        START_STN_TDCS_ID,
      </if>
      <if test="startStnTdcsName != null">
        START_STN_TDCS_NAME,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="endBureauId != null">
        END_BUREAU_ID,
      </if>
      <if test="endBureau != null">
        END_BUREAU,
      </if>
      <if test="endBureauFull != null">
        END_BUREAU_FULL,
      </if>
      <if test="endStationStnId != null">
        END_STATION_STN_ID,
      </if>
      <if test="endStationStnName != null">
        END_STATION_STN_NAME,
      </if>
      <if test="endStnId != null">
        END_STN_ID,
      </if>
      <if test="endStn != null">
        END_STN,
      </if>
      <if test="endStnTdcsId != null">
        END_STN_TDCS_ID,
      </if>
      <if test="endStnTdcsName != null">
        END_STN_TDCS_NAME,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="endDays != null">
        END_DAYS,
      </if>
      <if test="passBureau != null">
        PASS_BUREAU,
      </if>
      <if test="routeId != null">
        ROUTE_ID,
      </if>
      <if test="trainTypeId != null">
        TRAIN_TYPE_ID,
      </if>
      <if test="business != null">
        BUSINESS,
      </if>
      <if test="highlineFlag != null">
        HIGHLINE_FLAG,
      </if>
      <if test="importantFlag != null">
        IMPORTANT_FLAG,
      </if>
      <if test="trainScope != null">
        TRAIN_SCOPE,
      </if>
      <if test="tokenVehBureau != null">
        TOKEN_VEH_BUREAU,
      </if>
      <if test="tokenPsgBureau != null">
        TOKEN_PSG_BUREAU,
      </if>
      <if test="marshallingId != null">
        MARSHALLING_ID,
      </if>
      <if test="marshallingName != null">
        MARSHALLING_NAME,
      </if>
      <if test="trainCapacity != null">
        TRAIN_CAPACITY,
      </if>
      <if test="planTrainSign != null">
        PLAN_TRAIN_SIGN,
      </if>
      <if test="preTrainId != null">
        PRE_TRAIN_ID,
      </if>
      <if test="nextTrainId != null">
        NEXT_TRAIN_ID,
      </if>
      <if test="baseChartId != null">
        BASE_CHART_ID,
      </if>
      <if test="baseTrainId != null">
        BASE_TRAIN_ID,
      </if>
      <if test="highlineRule != null">
        HIGHLINE_RULE,
      </if>
      <if test="commonlineRule != null">
        COMMONLINE_RULE,
      </if>
      <if test="appointWeek != null">
        APPOINT_WEEK,
      </if>
      <if test="appointDay != null">
        APPOINT_DAY,
      </if>
      <if test="appointPeriod != null">
        APPOINT_PERIOD,
      </if>
      <if test="dayGap != null">
        DAY_GAP,
      </if>
      <if test="spareFlag != null">
        SPARE_FLAG,
      </if>
      <if test="spareApplyFlag != null">
        SPARE_APPLY_FLAG,
      </if>
      <if test="cmdBureau != null">
        CMD_BUREAU,
      </if>
      <if test="cmdTxtmlid != null">
        CMD_TXTMLID,
      </if>
      <if test="cmdTxtmlitemid != null">
        CMD_TXTMLITEMID,
      </if>
      <if test="cmdTrainId != null">
        CMD_TRAIN_ID,
      </if>
      <if test="cmdShortinfo != null">
        CMD_SHORTINFO,
      </if>
      <if test="telBureau != null">
        TEL_BUREAU,
      </if>
      <if test="telId != null">
        TEL_ID,
      </if>
      <if test="telName != null">
        TEL_NAME,
      </if>
      <if test="telShortinfo != null">
        TEL_SHORTINFO,
      </if>
      <if test="note != null">
        NOTE,
      </if>
      <if test="creatType != null">
        CREAT_TYPE,
      </if>
      <if test="creatPeople != null">
        CREAT_PEOPLE,
      </if>
      <if test="creatPeopleOrg != null">
        CREAT_PEOPLE_ORG,
      </if>
      <if test="creatTime != null">
        CREAT_TIME,
      </if>
      <if test="checkLev1Type != null">
        CHECK_LEV1_TYPE,
      </if>
      <if test="checkLev2Type != null">
        CHECK_LEV2_TYPE,
      </if>
      <if test="checkLev1Bureau != null">
        CHECK_LEV1_BUREAU,
      </if>
      <if test="checkLev2Bureau != null">
        CHECK_LEV2_BUREAU,
      </if>
      <if test="dailyplanFlag != null">
        DAILYPLAN_FLAG,
      </if>
      <if test="dailyplanTimes != null">
        DAILYPLAN_TIMES,
      </if>
      <if test="dailyplanTime != null">
        DAILYPLAN_TIME,
      </if>
      <if test="dailyplanId != null">
        DAILYPLAN_ID,
      </if>
      <if test="dailyplanIdLast != null">
        DAILYPLAN_ID_LAST,
      </if>
      <if test="dailyplanCheckBureau != null">
        DAILYPLAN_CHECK_BUREAU,
      </if>
      <if test="sentBureau != null">
        SENT_BUREAU,
      </if>
      <if test="sentBureauHis != null">
        SENT_BUREAU_HIS,
      </if>
      <if test="vaildStatus != null">
        VAILD_STATUS,
      </if>
      <if test="cmTrainId != null">
        CM_TRAIN_ID,
      </if>
      <if test="orgCmTrainId != null">
        ORG_CM_TRAIN_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="planTrainId != null">
        #{planTrainId},
      </if>
      <if test="planCrossId != null">
        #{planCrossId},
      </if>
      <if test="groupSerialNbr != null">
        #{groupSerialNbr},
      </if>
      <if test="trainSort != null">
        #{trainSort},
      </if>
      <if test="runDate != null">
        #{runDate},
      </if>
      <if test="trainNbr != null">
        #{trainNbr},
      </if>
      <if test="startBureauId != null">
        #{startBureauId},
      </if>
      <if test="startBureau != null">
        #{startBureau},
      </if>
      <if test="startBureauFull != null">
        #{startBureauFull},
      </if>
      <if test="startStationStnId != null">
        #{startStationStnId},
      </if>
      <if test="startStationStnName != null">
        #{startStationStnName},
      </if>
      <if test="startStnId != null">
        #{startStnId},
      </if>
      <if test="startStn != null">
        #{startStn},
      </if>
      <if test="startStnTdcsId != null">
        #{startStnTdcsId},
      </if>
      <if test="startStnTdcsName != null">
        #{startStnTdcsName},
      </if>
      <if test="startTime != null">
        #{startTime},
      </if>
      <if test="endBureauId != null">
        #{endBureauId},
      </if>
      <if test="endBureau != null">
        #{endBureau},
      </if>
      <if test="endBureauFull != null">
        #{endBureauFull},
      </if>
      <if test="endStationStnId != null">
        #{endStationStnId},
      </if>
      <if test="endStationStnName != null">
        #{endStationStnName},
      </if>
      <if test="endStnId != null">
        #{endStnId},
      </if>
      <if test="endStn != null">
        #{endStn},
      </if>
      <if test="endStnTdcsId != null">
        #{endStnTdcsId},
      </if>
      <if test="endStnTdcsName != null">
        #{endStnTdcsName},
      </if>
      <if test="endTime != null">
        #{endTime},
      </if>
      <if test="endDays != null">
        #{endDays},
      </if>
      <if test="passBureau != null">
        #{passBureau},
      </if>
      <if test="routeId != null">
        #{routeId},
      </if>
      <if test="trainTypeId != null">
        #{trainTypeId},
      </if>
      <if test="business != null">
        #{business},
      </if>
      <if test="highlineFlag != null">
        #{highlineFlag},
      </if>
      <if test="importantFlag != null">
        #{importantFlag},
      </if>
      <if test="trainScope != null">
        #{trainScope},
      </if>
      <if test="tokenVehBureau != null">
        #{tokenVehBureau},
      </if>
      <if test="tokenPsgBureau != null">
        #{tokenPsgBureau},
      </if>
      <if test="marshallingId != null">
        #{marshallingId},
      </if>
      <if test="marshallingName != null">
        #{marshallingName},
      </if>
      <if test="trainCapacity != null">
        #{trainCapacity},
      </if>
      <if test="planTrainSign != null">
        #{planTrainSign},
      </if>
      <if test="preTrainId != null">
        #{preTrainId},
      </if>
      <if test="nextTrainId != null">
        #{nextTrainId},
      </if>
      <if test="baseChartId != null">
        #{baseChartId},
      </if>
      <if test="baseTrainId != null">
        #{baseTrainId},
      </if>
      <if test="highlineRule != null">
        #{highlineRule},
      </if>
      <if test="commonlineRule != null">
        #{commonlineRule},
      </if>
      <if test="appointWeek != null">
        #{appointWeek},
      </if>
      <if test="appointDay != null">
        #{appointDay},
      </if>
      <if test="appointPeriod != null">
        #{appointPeriod},
      </if>
      <if test="dayGap != null">
        #{dayGap},
      </if>
      <if test="spareFlag != null">
        #{spareFlag},
      </if>
      <if test="spareApplyFlag != null">
        #{spareApplyFlag},
      </if>
      <if test="cmdBureau != null">
        #{cmdBureau},
      </if>
      <if test="cmdTxtmlid != null">
        #{cmdTxtmlid},
      </if>
      <if test="cmdTxtmlitemid != null">
        #{cmdTxtmlitemid},
      </if>
      <if test="cmdTrainId != null">
        #{cmdTrainId},
      </if>
      <if test="cmdShortinfo != null">
        #{cmdShortinfo},
      </if>
      <if test="telBureau != null">
        #{telBureau},
      </if>
      <if test="telId != null">
        #{telId},
      </if>
      <if test="telName != null">
        #{telName},
      </if>
      <if test="telShortinfo != null">
        #{telShortinfo},
      </if>
      <if test="note != null">
        #{note},
      </if>
      <if test="creatType != null">
        #{creatType},
      </if>
      <if test="creatPeople != null">
        #{creatPeople},
      </if>
      <if test="creatPeopleOrg != null">
        #{creatPeopleOrg},
      </if>
      <if test="creatTime != null">
        #{creatTime},
      </if>
      <if test="checkLev1Type != null">
        #{checkLev1Type},
      </if>
      <if test="checkLev2Type != null">
        #{checkLev2Type},
      </if>
      <if test="checkLev1Bureau != null">
        #{checkLev1Bureau},
      </if>
      <if test="checkLev2Bureau != null">
        #{checkLev2Bureau},
      </if>
      <if test="dailyplanFlag != null">
        #{dailyplanFlag},
      </if>
      <if test="dailyplanTimes != null">
        #{dailyplanTimes},
      </if>
      <if test="dailyplanTime != null">
        #{dailyplanTime},
      </if>
      <if test="dailyplanId != null">
        #{dailyplanId},
      </if>
      <if test="dailyplanIdLast != null">
        #{dailyplanIdLast},
      </if>
      <if test="dailyplanCheckBureau != null">
        #{dailyplanCheckBureau},
      </if>
      <if test="sentBureau != null">
        #{sentBureau},
      </if>
      <if test="sentBureauHis != null">
        #{sentBureauHis},
      </if>
      <if test="vaildStatus != null">
        #{vaildStatus},
      </if>
      <if test="cmTrainId != null">
        #{cmTrainId},
      </if>
      <if test="orgCmTrainId != null">
        #{orgCmTrainId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.railway.passenger.transdispatch.operationplan.entity.PlanTrainNew">
    update PLAN_TRAIN
    <set>
      <if test="planCrossId != null">
        PLAN_CROSS_ID = #{planCrossId},
      </if>
      <if test="groupSerialNbr != null">
        GROUP_SERIAL_NBR = #{groupSerialNbr},
      </if>
      <if test="trainSort != null">
        TRAIN_SORT = #{trainSort},
      </if>
      <if test="runDate != null">
        RUN_DATE = #{runDate},
      </if>
      <if test="trainNbr != null">
        TRAIN_NBR = #{trainNbr},
      </if>
      <if test="startBureauId != null">
        START_BUREAU_ID = #{startBureauId},
      </if>
      <if test="startBureau != null">
        START_BUREAU = #{startBureau},
      </if>
      <if test="startBureauFull != null">
        START_BUREAU_FULL = #{startBureauFull},
      </if>
      <if test="startStationStnId != null">
        START_STATION_STN_ID = #{startStationStnId},
      </if>
      <if test="startStationStnName != null">
        START_STATION_STN_NAME = #{startStationStnName},
      </if>
      <if test="startStnId != null">
        START_STN_ID = #{startStnId},
      </if>
      <if test="startStn != null">
        START_STN = #{startStn},
      </if>
      <if test="startStnTdcsId != null">
        START_STN_TDCS_ID = #{startStnTdcsId},
      </if>
      <if test="startStnTdcsName != null">
        START_STN_TDCS_NAME = #{startStnTdcsName},
      </if>
      <if test="startTime != null">
        START_TIME = #{startTime},
      </if>
      <if test="endBureauId != null">
        END_BUREAU_ID = #{endBureauId},
      </if>
      <if test="endBureau != null">
        END_BUREAU = #{endBureau},
      </if>
      <if test="endBureauFull != null">
        END_BUREAU_FULL = #{endBureauFull},
      </if>
      <if test="endStationStnId != null">
        END_STATION_STN_ID = #{endStationStnId},
      </if>
      <if test="endStationStnName != null">
        END_STATION_STN_NAME = #{endStationStnName},
      </if>
      <if test="endStnId != null">
        END_STN_ID = #{endStnId},
      </if>
      <if test="endStn != null">
        END_STN = #{endStn},
      </if>
      <if test="endStnTdcsId != null">
        END_STN_TDCS_ID = #{endStnTdcsId},
      </if>
      <if test="endStnTdcsName != null">
        END_STN_TDCS_NAME = #{endStnTdcsName},
      </if>
      <if test="endTime != null">
        END_TIME = #{endTime},
      </if>
      <if test="endDays != null">
        END_DAYS = #{endDays},
      </if>
      <if test="passBureau != null">
        PASS_BUREAU = #{passBureau},
      </if>
      <if test="routeId != null">
        ROUTE_ID = #{routeId},
      </if>
      <if test="trainTypeId != null">
        TRAIN_TYPE_ID = #{trainTypeId},
      </if>
      <if test="business != null">
        BUSINESS = #{business},
      </if>
      <if test="highlineFlag != null">
        HIGHLINE_FLAG = #{highlineFlag},
      </if>
      <if test="importantFlag != null">
        IMPORTANT_FLAG = #{importantFlag},
      </if>
      <if test="trainScope != null">
        TRAIN_SCOPE = #{trainScope},
      </if>
      <if test="tokenVehBureau != null">
        TOKEN_VEH_BUREAU = #{tokenVehBureau},
      </if>
      <if test="tokenPsgBureau != null">
        TOKEN_PSG_BUREAU = #{tokenPsgBureau},
      </if>
      <if test="marshallingId != null">
        MARSHALLING_ID = #{marshallingId},
      </if>
      <if test="marshallingName != null">
        MARSHALLING_NAME = #{marshallingName},
      </if>
      <if test="trainCapacity != null">
        TRAIN_CAPACITY = #{trainCapacity},
      </if>
      <if test="planTrainSign != null">
        PLAN_TRAIN_SIGN = #{planTrainSign},
      </if>
      <if test="preTrainId != null">
        PRE_TRAIN_ID = #{preTrainId},
      </if>
      <if test="nextTrainId != null">
        NEXT_TRAIN_ID = #{nextTrainId},
      </if>
      <if test="baseChartId != null">
        BASE_CHART_ID = #{baseChartId},
      </if>
      <if test="baseTrainId != null">
        BASE_TRAIN_ID = #{baseTrainId},
      </if>
      <if test="highlineRule != null">
        HIGHLINE_RULE = #{highlineRule},
      </if>
      <if test="commonlineRule != null">
        COMMONLINE_RULE = #{commonlineRule},
      </if>
      <if test="appointWeek != null">
        APPOINT_WEEK = #{appointWeek},
      </if>
      <if test="appointDay != null">
        APPOINT_DAY = #{appointDay},
      </if>
      <if test="appointPeriod != null">
        APPOINT_PERIOD = #{appointPeriod},
      </if>
      <if test="dayGap != null">
        DAY_GAP = #{dayGap},
      </if>
      <if test="spareFlag != null">
        SPARE_FLAG = #{spareFlag},
      </if>
      <if test="spareApplyFlag != null">
        SPARE_APPLY_FLAG = #{spareApplyFlag},
      </if>
      <if test="cmdBureau != null">
        CMD_BUREAU = #{cmdBureau},
      </if>
      <if test="cmdTxtmlid != null">
        CMD_TXTMLID = #{cmdTxtmlid},
      </if>
      <if test="cmdTxtmlitemid != null">
        CMD_TXTMLITEMID = #{cmdTxtmlitemid},
      </if>
      <if test="cmdTrainId != null">
        CMD_TRAIN_ID = #{cmdTrainId},
      </if>
      <if test="cmdShortinfo != null">
        CMD_SHORTINFO = #{cmdShortinfo},
      </if>
      <if test="telBureau != null">
        TEL_BUREAU = #{telBureau},
      </if>
      <if test="telId != null">
        TEL_ID = #{telId},
      </if>
      <if test="telName != null">
        TEL_NAME = #{telName},
      </if>
      <if test="telShortinfo != null">
        TEL_SHORTINFO = #{telShortinfo},
      </if>
      <if test="note != null">
        NOTE = #{note},
      </if>
      <if test="creatType != null">
        CREAT_TYPE = #{creatType},
      </if>
      <if test="creatPeople != null">
        CREAT_PEOPLE = #{creatPeople},
      </if>
      <if test="creatPeopleOrg != null">
        CREAT_PEOPLE_ORG = #{creatPeopleOrg},
      </if>
      <if test="creatTime != null">
        CREAT_TIME = #{creatTime},
      </if>
      <if test="checkLev1Type != null">
        CHECK_LEV1_TYPE = #{checkLev1Type},
      </if>
      <if test="checkLev2Type != null">
        CHECK_LEV2_TYPE = #{checkLev2Type},
      </if>
      <if test="checkLev1Bureau != null">
        CHECK_LEV1_BUREAU = #{checkLev1Bureau},
      </if>
      <if test="checkLev2Bureau != null">
        CHECK_LEV2_BUREAU = #{checkLev2Bureau},
      </if>
      <if test="dailyplanFlag != null">
        DAILYPLAN_FLAG = #{dailyplanFlag},
      </if>
      <if test="dailyplanTimes != null">
        DAILYPLAN_TIMES = #{dailyplanTimes},
      </if>
      <if test="dailyplanTime != null">
        DAILYPLAN_TIME = #{dailyplanTime},
      </if>
      <if test="dailyplanId != null">
        DAILYPLAN_ID = #{dailyplanId},
      </if>
      <if test="dailyplanIdLast != null">
        DAILYPLAN_ID_LAST = #{dailyplanIdLast},
      </if>
      <if test="dailyplanCheckBureau != null">
        DAILYPLAN_CHECK_BUREAU = #{dailyplanCheckBureau},
      </if>
      <if test="sentBureau != null">
        SENT_BUREAU = #{sentBureau},
      </if>
      <if test="sentBureauHis != null">
        SENT_BUREAU_HIS = #{sentBureauHis},
      </if>
      <if test="vaildStatus != null">
        VAILD_STATUS = #{vaildStatus},
      </if>
      <if test="cmTrainId != null">
        CM_TRAIN_ID = #{cmTrainId},
      </if>
      <if test="orgCmTrainId != null">
        ORG_CM_TRAIN_ID = #{orgCmTrainId},
      </if>
    </set>
    where PLAN_TRAIN_ID = #{planTrainId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.railway.passenger.transdispatch.operationplan.entity.PlanTrainNew">
    update PLAN_TRAIN
    set PLAN_CROSS_ID = #{planCrossId},
      GROUP_SERIAL_NBR = #{groupSerialNbr},
      TRAIN_SORT = #{trainSort},
      RUN_DATE = #{runDate},
      TRAIN_NBR = #{trainNbr},
      START_BUREAU_ID = #{startBureauId},
      START_BUREAU = #{startBureau},
      START_BUREAU_FULL = #{startBureauFull},
      START_STATION_STN_ID = #{startStationStnId},
      START_STATION_STN_NAME = #{startStationStnName},
      START_STN_ID = #{startStnId},
      START_STN = #{startStn},
      START_STN_TDCS_ID = #{startStnTdcsId},
      START_STN_TDCS_NAME = #{startStnTdcsName},
      START_TIME = #{startTime},
      END_BUREAU_ID = #{endBureauId},
      END_BUREAU = #{endBureau},
      END_BUREAU_FULL = #{endBureauFull},
      END_STATION_STN_ID = #{endStationStnId},
      END_STATION_STN_NAME = #{endStationStnName},
      END_STN_ID = #{endStnId},
      END_STN = #{endStn},
      END_STN_TDCS_ID = #{endStnTdcsId},
      END_STN_TDCS_NAME = #{endStnTdcsName},
      END_TIME = #{endTime},
      END_DAYS = #{endDays},
      PASS_BUREAU = #{passBureau},
      ROUTE_ID = #{routeId},
      TRAIN_TYPE_ID = #{trainTypeId},
      BUSINESS = #{business},
      HIGHLINE_FLAG = #{highlineFlag},
      IMPORTANT_FLAG = #{importantFlag},
      TRAIN_SCOPE = #{trainScope},
      TOKEN_VEH_BUREAU = #{tokenVehBureau},
      TOKEN_PSG_BUREAU = #{tokenPsgBureau},
      MARSHALLING_ID = #{marshallingId},
      MARSHALLING_NAME = #{marshallingName},
      TRAIN_CAPACITY = #{trainCapacity},
      PLAN_TRAIN_SIGN = #{planTrainSign},
      PRE_TRAIN_ID = #{preTrainId},
      NEXT_TRAIN_ID = #{nextTrainId},
      BASE_CHART_ID = #{baseChartId},
      BASE_TRAIN_ID = #{baseTrainId},
      HIGHLINE_RULE = #{highlineRule},
      COMMONLINE_RULE = #{commonlineRule},
      APPOINT_WEEK = #{appointWeek},
      APPOINT_DAY = #{appointDay},
      APPOINT_PERIOD = #{appointPeriod},
      DAY_GAP = #{dayGap},
      SPARE_FLAG = #{spareFlag},
      SPARE_APPLY_FLAG = #{spareApplyFlag},
      CMD_BUREAU = #{cmdBureau},
      CMD_TXTMLID = #{cmdTxtmlid},
      CMD_TXTMLITEMID = #{cmdTxtmlitemid},
      CMD_TRAIN_ID = #{cmdTrainId},
      CMD_SHORTINFO = #{cmdShortinfo},
      TEL_BUREAU = #{telBureau},
      TEL_ID = #{telId},
      TEL_NAME = #{telName},
      TEL_SHORTINFO = #{telShortinfo},
      NOTE = #{note},
      CREAT_TYPE = #{creatType},
      CREAT_PEOPLE = #{creatPeople},
      CREAT_PEOPLE_ORG = #{creatPeopleOrg},
      CREAT_TIME = #{creatTime},
      CHECK_LEV1_TYPE = #{checkLev1Type},
      CHECK_LEV2_TYPE = #{checkLev2Type},
      CHECK_LEV1_BUREAU = #{checkLev1Bureau},
      CHECK_LEV2_BUREAU = #{checkLev2Bureau},
      DAILYPLAN_FLAG = #{dailyplanFlag},
      DAILYPLAN_TIMES = #{dailyplanTimes},
      DAILYPLAN_TIME = #{dailyplanTime},
      DAILYPLAN_ID = #{dailyplanId},
      DAILYPLAN_ID_LAST = #{dailyplanIdLast},
      DAILYPLAN_CHECK_BUREAU = #{dailyplanCheckBureau},
      SENT_BUREAU = #{sentBureau},
      SENT_BUREAU_HIS = #{sentBureauHis},
      VAILD_STATUS = #{vaildStatus},
      CM_TRAIN_ID = #{cmTrainId}
      ORG_CM_TRAIN_ID = #{orgCmTrainId}
    where PLAN_TRAIN_ID = #{planTrainId}
  </update>
</mapper>