<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.railway.passenger.transdispatch.comfirmedmap.repository.TCmTrainAlternateMapper" >
  <resultMap id="BaseResultMap" type="com.railway.passenger.transdispatch.comfirmedmap.entity.TCmTrainAlternate" >
    <id column="CM_TRAIN_ALTERNATE_ID" property="cmTrainAlternateId" jdbcType="VARCHAR" />
    <result column="CM_TRAIN_ID" property="cmTrainId" jdbcType="VARCHAR" />
    <result column="ALTERNATE_DATE" property="alternateDate" jdbcType="VARCHAR" />
    <result column="ALTERNATE_TRAIN_NBR" property="alternateTrainNbr" jdbcType="VARCHAR" />
    <result column="CREAT_PEOPLE" property="creatPeople" jdbcType="VARCHAR" />
    <result column="CREAT_PEOPLE_ORG" property="creatPeopleOrg" jdbcType="VARCHAR" />
    <result column="CREAT_TIME" property="creatTime" jdbcType="VARCHAR" />
    <result column="CHECK_PEOPLE" property="checkPeople" jdbcType="VARCHAR" />
    <result column="CHECK_PEOPLE_ORG" property="checkPeopleOrg" jdbcType="VARCHAR" />
    <result column="CHECK_TIME" property="checkTime" jdbcType="VARCHAR" />
    <result column="USE_STATUS" property="useStatus" jdbcType="DECIMAL" />
    <result column="CHECK_FLAG" property="checkFlag" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    CM_TRAIN_ALTERNATE_ID, CM_TRAIN_ID, ALTERNATE_DATE, ALTERNATE_TRAIN_NBR, CREAT_PEOPLE, 
    CREAT_PEOPLE_ORG, CREAT_TIME, CHECK_PEOPLE, CHECK_PEOPLE_ORG, CHECK_TIME, USE_STATUS, 
    CHECK_FLAG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_CM_TRAIN_ALTERNATE
    where CM_TRAIN_ALTERNATE_ID = #{cmTrainAlternateId}
  </select>
  <select id="getTCmTrainAlternate" resultMap="BaseResultMap" parameterType="java.lang.String" >
 select 
    <include refid="Base_Column_List" />
    from T_CM_TRAIN_ALTERNATE
    where CM_TRAIN_ID = #{cmTrainId}
   </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_CM_TRAIN_ALTERNATE
    where CM_TRAIN_ALTERNATE_ID = #{cmTrainAlternateId}
  </delete>
  <insert id="insert" parameterType="com.railway.passenger.transdispatch.comfirmedmap.entity.TCmTrainAlternate" >
    insert into T_CM_TRAIN_ALTERNATE (CM_TRAIN_ALTERNATE_ID, CM_TRAIN_ID, ALTERNATE_DATE, ALTERNATE_TRAIN_NBR, 
      CREAT_PEOPLE, CREAT_PEOPLE_ORG, CREAT_TIME, CHECK_PEOPLE, CHECK_PEOPLE_ORG, 
      CHECK_TIME, USE_STATUS, CHECK_FLAG)
    values (#{cmTrainAlternateId}, #{cmTrainId}, #{alternateDate}, #{alternateTrainNbr}, 
      #{creatPeople}, #{creatPeopleOrg}, #{creatTime}, #{checkPeople}, #{checkPeopleOrg}, 
      #{checkTime}, #{useStatus}, #{checkFlag})
  </insert>
  <insert id="insertSelective" parameterType="com.railway.passenger.transdispatch.comfirmedmap.entity.TCmTrainAlternate" >
    insert into T_CM_TRAIN_ALTERNATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cmTrainAlternateId != null" >
        CM_TRAIN_ALTERNATE_ID,
      </if>
      <if test="cmTrainId != null" >
        CM_TRAIN_ID,
      </if>
      <if test="alternateDate != null" >
        ALTERNATE_DATE,
      </if>
      <if test="alternateTrainNbr != null" >
        ALTERNATE_TRAIN_NBR,
      </if>
      <if test="creatPeople != null" >
        CREAT_PEOPLE,
      </if>
      <if test="creatPeopleOrg != null" >
        CREAT_PEOPLE_ORG,
      </if>
      <if test="creatTime != null" >
        CREAT_TIME,
      </if>
      <if test="checkPeople != null" >
        CHECK_PEOPLE,
      </if>
      <if test="checkPeopleOrg != null" >
        CHECK_PEOPLE_ORG,
      </if>
      <if test="checkTime != null" >
        CHECK_TIME,
      </if>
      <if test="useStatus != null" >
        USE_STATUS,
      </if>
      <if test="checkFlag != null" >
        CHECK_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cmTrainAlternateId != null" >
        #{cmTrainAlternateId},
      </if>
      <if test="cmTrainId != null" >
        #{cmTrainId},
      </if>
      <if test="alternateDate != null" >
        #{alternateDate},
      </if>
      <if test="alternateTrainNbr != null" >
        #{alternateTrainNbr},
      </if>
      <if test="creatPeople != null" >
        #{creatPeople},
      </if>
      <if test="creatPeopleOrg != null" >
        #{creatPeopleOrg},
      </if>
      <if test="creatTime != null" >
        #{creatTime},
      </if>
      <if test="checkPeople != null" >
        #{checkPeople},
      </if>
      <if test="checkPeopleOrg != null" >
        #{checkPeopleOrg},
      </if>
      <if test="checkTime != null" >
        #{checkTime},
      </if>
      <if test="useStatus != null" >
        #{useStatus},
      </if>
      <if test="checkFlag != null" >
        #{checkFlag},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.railway.passenger.transdispatch.comfirmedmap.entity.TCmTrainAlternate" >
    update T_CM_TRAIN_ALTERNATE
    <set >
      <if test="cmTrainId != null" >
        CM_TRAIN_ID = #{cmTrainId},
      </if>
      <if test="alternateDate != null" >
        ALTERNATE_DATE = #{alternateDate},
      </if>
      <if test="alternateTrainNbr != null" >
        ALTERNATE_TRAIN_NBR = #{alternateTrainNbr},
      </if>
      <if test="creatPeople != null" >
        CREAT_PEOPLE = #{creatPeople},
      </if>
      <if test="creatPeopleOrg != null" >
        CREAT_PEOPLE_ORG = #{creatPeopleOrg},
      </if>
      <if test="creatTime != null" >
        CREAT_TIME = #{creatTime},
      </if>
      <if test="checkPeople != null" >
        CHECK_PEOPLE = #{checkPeople},
      </if>
      <if test="checkPeopleOrg != null" >
        CHECK_PEOPLE_ORG = #{checkPeopleOrg},
      </if>
      <if test="checkTime != null" >
        CHECK_TIME = #{checkTime},
      </if>
      <if test="useStatus != null" >
        USE_STATUS = #{useStatus},
      </if>
      <if test="checkFlag != null" >
        CHECK_FLAG = #{checkFlag},
      </if>
    </set>
    where CM_TRAIN_ALTERNATE_ID = #{cmTrainAlternateId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.railway.passenger.transdispatch.comfirmedmap.entity.TCmTrainAlternate" >
    update T_CM_TRAIN_ALTERNATE
    set CM_TRAIN_ID = #{cmTrainId},
      ALTERNATE_DATE = #{alternateDate},
      ALTERNATE_TRAIN_NBR = #{alternateTrainNbr},
      CREAT_PEOPLE = #{creatPeople},
      CREAT_PEOPLE_ORG = #{creatPeopleOrg},
      CREAT_TIME = #{creatTime},
      CHECK_PEOPLE = #{checkPeople},
      CHECK_PEOPLE_ORG = #{checkPeopleOrg},
      CHECK_TIME = #{checkTime},
      USE_STATUS = #{useStatus},
      CHECK_FLAG = #{checkFlag}
    where CM_TRAIN_ALTERNATE_ID = #{cmTrainAlternateId}
  </update>
</mapper>