<%@ page contentType="text/html;charset=UTF-8" %>
<section class="leftMenu" style="display:none" id="runPlan">
	<ul class="nav nav-pills nav-stacked" role="tablist">
		<!-- <li class ="active" id="runPlan2"><a style="width: 100%;" href="${ctx}/runPlan" target="contentFrame" >管理图定</a></li> -->
		 <li><a style="width: 100%;" href="${ctx}/runPlan/runPlanModify?train_type=0" target="contentFrame">图定调整</a></li>    
         <li><a style="width: 100%;" href="${ctx}/runPlanLk/mainPage?train_type=0" target="contentFrame">管理临客</a></li>
         <li><a style="width: 100%;" href="${ctx}/runPlanLk/addPage?train_type=0" target="contentFrame">临客加开</a></li>
         <li><a style="width: 100%;" href="${ctx}/runPlanLk/stopPage?train_type=0" target="contentFrame">临客停运</a></li>
         <li><a style="width: 100%;" href="${ctx}/runPlan/runPlanLineCreate?train_type=0" target="contentFrame">发布计划</a></li>
        <!-- <li><a style="width: 100%;" href="${ctx}/audit?train_type=0" target="contentFrame">核对计划</a></li> -->
         <!--<li><a style="width: 100%;" href="${ctx}/audit/cbPlan?train_type=0" target="contentFrame">差别计划</a></li> -->  
         
    </ul>
 </section>
  
 <section class="leftMenu" style="display:none" id="overplan">
   <ul class="nav nav-pills nav-stacked" role="tablist">             
         <li class="active" id="overplan2"><a style="width: 100%;" href="${ctx}/audit?train_type=2" target="contentFrame">落成计划</a></li>
          <li><a style="width: 100%;" href="${ctx}/audit/cbPlan?train_type=0" target="contentFrame">差别计划</a></li> 
   </ul>
 </section>

<section class="leftMenu" style="display:none" id="getBase">    
  <ul class="nav nav-pills nav-stacked" role="tablist">                         
         <li class="active" id="getBase2"><a href="${ctx}/jbtcx?type=jbt" target="contentFrame">查基本图</a></li>
         <li><a href="${ctx}/cross" target="contentFrame">管对数表</a></li>
         <li><a href="${ctx}/cross/unit" target="contentFrame">交路单元</a></li>  
  </ul>
</section>     
<section class="leftMenu" style="display:none" id="getMsg">    
  <ul class="nav nav-pills nav-stacked" role="tablist">                         
         <li class="active" id="getBase2"><a href="${ctx}/msg" target="contentFrame">消息管理</a></li>
  </ul>
</section>
